{% set currentroute =  app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GifCam Backend</title>
    <link href="{{ asset('bundles/garybackend/components/bootstrap/dist/css/bootstrap.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/garybackend/css/main.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/garybackend/css/bootstrap-theme.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/garybackend/components/font-awesome/css/font-awesome.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/garybackend/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
</head>
<body role="document">
{% if app.user %}
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{{ path('homepage') }}"><img src="{{ asset('bundles/garybackend/images/logo.jpg') }}" height="26" /></a>
            <ul class="nav navbar-nav">
                <li class="dropdown {% if currentroute starts with 'user' %}active{%endif%}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Users <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class=""><a href="{{ path('user') }}"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;User list</a></li>
                        <li class=""><a href="{{ path('user_new') }}"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Create a new User</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if currentroute starts with 'video' %}active{%endif%}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-video-camera"></i> Videos <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class=""><a href="{{ path('video') }}"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;&nbsp;Video list</a></li>
                        <li class=""><a href="{{ path('video_new') }}"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Create a new Video</a></li>
                    </ul>
                </li>




                {#<li><a href="{{ path('request') }}" class="btn-success btn"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;Requests</a></li>#}
                {#<li><a href="{{ path('report') }}" class="btn-danger btn"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;Reports</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {#<li {% if currentroute starts with 'settings' %} class="active" {%endif%}  ><a href="{{ path('settings') }}"><i class="fa fa-list-ul"></i> API Settings</a></li>#}
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
{% endif %}
<div class="container theme-showcase" role="main">
    {% for flashType in app.session.flashbag.keys %}
        {% for flash in app.session.flashbag.get(flashType) %}
            <div class="alert alert-{{ flashType }}">{{ flash }}</div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<div class="navbar-fixed-bottom navbar-default" role="">
    <div class="container">
        <h5>&copy {{ 'now'|date('Y') }} GifCam team</h5>
    </div>
</div>
<script src="{{ asset('bundles/garybackend/components/jquery/dist/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/garybackend/components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/garybackend/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/garybackend/components/colorbox/jquery.colorbox-min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/garybackend/js/script.js') }}" type="text/javascript"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
