/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
}
.dashlink {
    text-decoration: none;
    color:white;
    /*-webkit-transition: 400ms;*/
}
.dashlink > div {
    border-top:4px solid #2b3e50;
    padding: 30px 0;
    -webkit-transition: 400ms;
    border-radius: 5px;
    margin: 1.5%;
}
.dashlink.notif > div {
    border-top:4px solid red;
}
.dashlink:hover > div {
    color:gold;
    text-shadow: 0px 0px 50px gold;
    /*background: rgba(0,0,0,0.2);*/
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}
.dashblock .panel-body {
    min-height: 250px !important;
}

.admin_page_entity .photo img {
    max-width: 100%;
}

.admin_page_entity ul.record_actions {
    list-style: none;
    padding-left: 0;
}

.admin_page_entity ul.record_actions form {
    display: inline-block;
}

.admin_page_entity.edit label {
    display: inline-block;
    width: 150px;
}

.admin_page_entity .record_properties th {
    padding-right: 10px;
}

a.back_link {
    font-size: 70%;
    margin-right: 15px;
}