{% extends '::base.html.twig' %}

{% block body -%}

    <h1>
        {% if parent %}
            {% if parent_name == 'user' %}
                <a href="{{ path('user_show', { 'id': parent.id }) }}">{% if parent.firstName or parent.lastName %}{{ parent.firstName }} {{ parent.lastName }}{% else %}{{ parent.username }}{% endif %}</a>
            {% endif %}
            /
        {% endif %}
        Video list
    </h1>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('video_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.rating }}</td>
                <td>
                <ul>
                    <div class="btn-group">
                        <a href="{{ path('video_show', { 'id': entity.id }) }}" class="btn btn-primary btn-sm">show</a>
                        <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><s>Show on public page</s></a></li>
                            <li><a href="{{ path('user_show', { 'id': entity.user.id }) }}">Show author</a></li>
                        </ul>
                    </div>
                    <a href="{{ path('video_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">edit</a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row pagination-lg text-center">
        {{ knp_pagination_render(entities) }}
    </div>

        <ul>
        <li>
            <a href="{{ path('video_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
