{% extends '::base.html.twig' %}

{% block body -%}
    <h1><a href="{{ path('user_show', {'id': entity.id}) }}" class="back_link">&lang; back</a> {% if entity.firstName or entity.lastName %}{{ entity.firstName }} {{ entity.lastName }}{% else %}{{ entity.username }}{% endif %}</h1>

    <div class="admin_page_entity user_profile edit">
        {{ form_start(edit_form) }}
        <div class="col-lg-4">
            <div class="well well-sm photo">
                <img src="{{ entity.getWebPath('photo') }}" />
                {{ form_errors(edit_form.file) }}
                {{ form_widget(edit_form.file, {'attr': {'onChange': 'updatePhoto(this)'}}) }}
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                        {{ form_row(edit_form.firstName) }}
                        {{ form_row(edit_form.lastName) }}
                        {{ form_row(edit_form.email) }}
                        {{ form_row(edit_form.birthday) }}
                        {{ form_row(edit_form.sex) }}
                        {{ form_row(edit_form.location) }}
                        {{ form_row(edit_form.submit, { 'attr': {'class': 'btn btn-success btn-sm', 'type': 'button'} }) }}

                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
        <br clear="both" />

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Operations</h3>
                </div>
                <div class="panel-body">
                    <ul class="record_actions">
                        <li>
                            <a class="btn btn-warning btn-sm" href="{{ path('user_password', { 'id': entity.id }) }}">
                                Reset password
                            </a>
                            {{ form_start(delete_form, { 'attr': {'onSubmit': "return confirm('Are you sure?');"} }) }}
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger btn-sm', 'type': 'button'} }) }}
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
