{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Sex</th>
                <th>Location</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{% if entity.firstName or entity.lastName %}{{ entity.firstName }} {{ entity.lastName }}{% else %}{{ entity.username }}{% endif %}</a></td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.getGender(entity.sex) }}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.rating }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-primary btn-sm">show</a>
                        <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><s>Show followers</s></a></li>
                            <li><a href="#"><s>Show following</s></a></li>
                            <li><a href="{{ path('video', {'area': 'user', 'id': entity.id }) }}">Show uploaded videos</a></li>
                        </ul>
                    </div>
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row pagination-lg text-center">
        {{ knp_pagination_render(entities) }}
    </div>

    <a href="{{ path('user_new') }}">
        <i class="fa fa-plus"></i> Create a new entry
    </a>

    {% endblock %}
