{% extends '::base.html.twig' %}

{% block body -%}
    <h1><a href="{{ path('user') }}" class="back_link">&lang; back</a> User creation</h1>

    <div class="admin_page_entity user_profile edit">
        {{ form_start(form) }}
        <div class="col-lg-4">
            <div class="well well-sm photo">
                <img src="{{ entity.getWebPath('photo') }}" />
                {{ form_errors(form.file) }}
                {{ form_widget(form.file, {'attr': {'onChange': 'updatePhoto(this)'}}) }}
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.birthday) }}
                    {{ form_row(form.sex) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success btn-sm', 'type': 'button'} }) }}

                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>




{% endblock %}
