{% extends '::base.html.twig' %}

{% block body -%}
    <h1><a href="{{ path('user_show', {'id': entity.id}) }}" class="back_link">&lang; back</a> {% if entity.firstName or entity.lastName %}{{ entity.firstName }} {{ entity.lastName }}{% else %}{{ entity.username }}{% endif %}</h1>

    <div class="admin_page_entity user_profile edit">
        {{ form_start(edit_form) }}

        <div class="col-lg-4 col-md-offset-0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset password</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                        {{ form_row(edit_form.plainPassword) }}
                        {{ form_row(edit_form.submit, { 'attr': {'class': 'btn btn-success btn-sm', 'type': 'button'} }) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>



    </div>




{% endblock %}
