{% extends '::base.html.twig' %}

{% block body -%}
    <h1><a href="{{ path('user') }}" class="back_link">&lang; back</a> {% if entity.firstName or entity.lastName %}{{ entity.firstName }} {{ entity.lastName }}{% else %}{{ entity.username }}{% endif %}</h1>

    <div class="admin_page_entity user_profile">
        <div class="col-lg-4">
            <div class="well well-sm photo">
                <img src="{{ entity.getWebPath('photo') }}" />
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Actions</h3>
                </div>
                <div class="panel-body">
                    <ul class="record_actions">
                        <li>
                            <a href="#"><s>Show followers</s></a>
                        </li>
                        <li>
                            <a href="#"><s>Show following</s></a>
                        </li>
                        <li>
                            <a href="{{ path('video', {'area': 'user', 'id': entity.id }) }}">Show uploaded videos</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Operations</h3>
                </div>
                <div class="panel-body">
                    <ul class="record_actions">
                        <li>
                            <a class="btn btn-success btn-sm" href="{{ path('user_edit', { 'id': entity.id }) }}">
                                Edit
                            </a>
                            <a class="btn btn-warning btn-sm" href="{{ path('user_password', { 'id': entity.id }) }}">
                                Reset password
                            </a>
                            {{ form_start(delete_form, { 'attr': {'onSubmit': "return confirm('Are you sure?');"} }) }}
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger btn-sm', 'type': 'button'} }) }}
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="record_properties">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Firstname</th>
                            <td>{{ entity.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Lastname</th>
                            <td>{{ entity.lastName }}</td>
                        </tr>
                        {#<tr>#}
                            {#<th>Apikey</th>#}
                            {#<td>{{ entity.apikey }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th>Googleid</th>#}
                            {#<td>{{ entity.googleId }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th>Facebookid</th>#}
                            {#<td>{{ entity.facebookId }}</td>#}
                        {#</tr>#}
                        <tr>
                            <th>Birthday</th>
                            <td>{{ entity.birthday|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Sex</th>
                            <td>{{ entity.getGender(entity.sex) }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ entity.location }}</td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <td>{{ entity.rating }}</td>
                        </tr>
                        <tr>
                            <th>Registered</th>
                            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Last login</th>
                            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
